@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/mulish-v13-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
@font-face {
    font-family: 'Literata';
    src: url('Literata-ExtraLight.woff2') format('woff2'),
        url('Literata-ExtraLight.woff') format('woff');
    font-weight: 10;
    font-style: normal;
    font-display: swap;
  }